:root {
    /* Global variables should go here */
}

.headerBar {
    --padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: calc(100vw - var(--padding) * 2);
    flex-direction: row;
    /* background-color: #123351; */
    color: #123351;
    padding: 0 var(--padding) 0 var(--padding);
}

.headerBarLeft, .headerBarRight {
    width: 150px;
}

.headerBarCenter {
    font-family: "ChunkFive";
    font-size: 5rem;
    -webkit-text-stroke: 2px white;
}

body {
    background-image: url("../Assets/Overall UI/FeltMatBlue.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mainFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    width: 100vw;
    /* background-color: #000; */
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-align: center;
    background-image: url("../Assets/BlackJack/blackJackTitle.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 50% 33%;
    /* margin-top: -20px; */
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

.stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 150px;
    justify-content: space-evenly;
}

#dealerHand, #playerHand, #deck {
    background-image: url("../Assets/BlackJack/cardSlot.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 145px;
    width: 100px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
}

.spacer {
    width: 10px;
    height: 150px;
}

#deck {
    position: absolute;
    top: 100px;
    right: 50px;
}

#deck img, #dealerHand img, #playerHand img {
    /* height: 90%; */
    width: 80px;
    margin-top: 15px;
}

.faceUp {
    transform: rotate(20deg);
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.3s;
}

#betDisplay {
    position: relative;
    left: -200px;
}

#betDisplay span {
    margin-top: 50px;
    position: relative;
    bottom: -20px;
}

#cashDisplay, #betDisplay {
    width: 350px;
    font-family: "ChunkFive";
    font-size: 3rem;
}

.chip {
    height: 100px;
    width: 100px;
    margin-left: 10px;
    transition: 0.3s;
}

.hoverChip:hover {
    transform: scale(1.2);
}

.button {
    --padding: 10px;
    background-image: url("../Assets/Overall UI/ButtonUp.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: calc(100% - var(--padding) * 2);
    height: calc(50px - var(--padding) * 2);
    color: black;
    font-family: "ChunkFive";
    font-size: 1.5rem;
    padding: var(--padding);
    user-select: none;
    text-align: center;
}

.button:hover {
    background-image: url("../Assets/Overall UI/ButtonDown.png");
}

.faceDown {
    --pathToFaceUpCard: "../Assets/Cards/cardBack_blue1.png";
}

@keyframes revealCard {
    
    from {
        transform: rotateY(180deg);
    }
    to {
        content: var(--pathToFaceUpCard);
        transform: translate(-150px) rotateY(0deg);
    }
}