.center_header {
    text-align: center;
    margin: 5px;
}

nav {
    margin: 0;
    padding: 5px;
    width: 100%;
    height: fit-content;
    background-color: #313638ff;
}

#container {
    border-radius: 5px;
    margin: 15px auto;
    padding: 10px;
    width: 80%;
    height: 80%;
}

#title {
    background-color: #fff;
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
}

#game_options {
    text-align: center;
    margin: auto;
    width: 100%;
}

img .icon {
    width: 50%;
}

img .button {
    
}