.center_header {
    text-align: center;
    margin: 5px;
}

#container {
    margin: auto;
    padding: 10px;
    width: 80%;
    height: 80%;
}

#title {
    background-color: #fff;
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
}

#game_options {
    text-align: center;
    margin: auto;
    width: 100%;
}

#casino_icon {
    width: 80%;
}

table {
    border-collapse: separate;
    border-spacing: 0 40px;
}

p {
    font-family: ChunkFive;
    font-size: 50px;
    color: #fff;
}

.icon {
    width: 65%;
}

.button {
    margin: 15px auto;
    padding: 15px 15px 20px 15px;
    width: fit-content;
    font-family: ChunkFive;
    font-size: 24px;
    color: #000;
    background-image: url("/Assets/Overall UI/ButtonUp.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    user-select: none;
}

.button:hover {
    cursor: pointer;
}

#bank_button {
    margin: 50px;
    position: absolute;
    right: 0;
    bottom: 0;
}