.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

#container {
    margin: auto;
    padding: 0;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    margin: 0 0 2% 0;
    width: 100%;
    align-items: center;
}

#casino_icon {
    margin: 3% 0;
    width: 40%;
}

a, p {
    font-family: ChunkFive;
    font-size: 50px;
    text-decoration: none;
    color: #fff;
    text-align: center;
}

#game_container {
    margin: 2% 0 0 0;
    width: 100%;
}

#game {
    align-items: center;
}

.icon {
    width: 50%;
    margin: 2% 0;
}

#bank_button {
    margin: 0 50px 50px 0;
    position: absolute;
    right: 0;
    bottom: 0;
}

.button {
    margin: 15px 0;
    padding: 15px 35px 20px 35px;
    width: fit-content;
    font-family: ChunkFive;
    font-size: 24px;
    color: #000;
    background-image: url("../Assets/Overall UI/ButtonUp.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    user-select: none;
    transition: margin 30ms, padding 30ms, filter 150ms;
    transition-timing-function: ease-in-out;
}

.button:active {
    background-image: url("../Assets/Overall UI/ButtonDown.png");
    margin: 20px auto 15px auto;
    padding: 15px 35px 15px 35px;
    filter: brightness(70%);
}

.button:hover {
    filter: brightness(80%);
    cursor: pointer;
}