
/* --terra-cotta: #e26d5cff;
--air-superiority-blue: #759eb8ff;
--gainsboro: #d8e1e9ff;
--onyx: #313638ff;
--rich-black-fogra-39: #080708ff; */

body {
    margin: 0;
    height: 100vh;
    background-color: #014f1a;
    background-image: url("/Assets/Overall UI/Generic Felt Mat.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}