h1{
    margin-bottom: 15px;
    text-align: center;
    color: white;
    font-size: xx-large;
    font-family: ChunkFive;
}

h2{
    text-align: center;
    color: white;
    font-size: xxx-large;
    font-family: ChunkFive;
}

.static_card {
    background-image: url("/Assets/Poker/PokerTable.png");
}

body {
    background-color: #d8e1e9ff;
}

.board{
    /* background-image: url("/Assets/Poker/PokerTableRow.png"); */
    background-size: 100% 100%;

    /* display: block;
    margin-left: auto;
    margin-right: auto; */

    width: fit-content;
    height: 200px;
    margin: auto;

    border-collapse: separate;
    border-spacing: 10px 0;

    /* padding: auto;
    width: 1100px;
    height: auto; */
}

.poker_icon{
    height: 150px;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    margin: 30px auto 0 30px;
}

.poker_slot {
    margin-left: 72.5%;
    background-image: url("../Assets/Poker/PokerTableSlot.png");
    height: 250px;
    width: 135px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
}

.card_inside_poker_slot {
    margin: auto;
    width: 100px;
}

.deck {
    margin: 40px 25px;
    width: 140px;
}

.card {
    margin: 40px 25px;
    width: 140px;
    transition: width 50ms, margin 50ms;
    transition-timing-function: ease-in-out;
}

.card:hover {
    filter: brightness(80%);
}

.card:active {
    filter: brightness(70%);
    width: 130px;
    margin: 45px 30px;
}

.top_part {
    width: 100%;
    table-layout: fixed;
    margin-top: 75px;
}

td{
    background-image: url("/Assets/Poker/PokerTableSlot.png");
    background-size: 100% 100%;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

p {
    font-family: ChunkFive;
    font-size: x-large;
    color: white;
    margin-top: 5px;
}

.bottom_part {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.chip{
    height: 100px;
    width: auto;
    /* margin-top: 3%; */
    /* margin-left: 2%; */
}

.buttons {
    margin-top: 0;
    margin-left: 30px;
    margin-right: 30px;
    background-image: url("../Assets/Overall UI/ButtonUp.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* width: calc(100% - var(--padding) * 2);
    height: calc(50px - var(--padding) * 2); */
    width: 100px;
    height: auto;
    color: black;
    font-family: "ChunkFive";
    font-size: 1.5rem;
    padding: 50px 50px 55px 50px;
    user-select: none;
    text-align: center;
    transition: margin-top 30ms, padding 30ms;
    transition-timing-function: ease-in-out;
}

.buttons:hover {
    filter: brightness(80%);
}

.buttons:active {
    background-image: url("../Assets/Overall UI/ButtonDown.png");
    margin-top: 5px;
    padding: 50px 50px 50px 50px;
    filter: brightness(70%);
}

.button{
    margin-bottom: 1%;
    margin-left: 1%;
}

.empty {
    background-image: none;
}